#mainpage {
    display: none;
}

#warningMessage {
    display: block;
    width: 100%;
}

#minigame {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
}

#nutellaEmoji {
    font-size: 2em;
    position: absolute;
    cursor: pointer;
    animation: moveNutella 1s ease-in-out infinite alternate;
}

@keyframes moveNutella {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(10px);
    }
}



@media screen and (min-width: 625px) {

    #warningMessage {
        display: none;
    }

    #mainpage {
        display: block;
    }

    #picture {
        width: 400px;
        height: auto;
    }

    header {
        background-color: rgb(18, 27, 43);
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    h1 {
        border-bottom: 1px solid rgb(196, 196, 196);
        margin-bottom: 5px;
        text-align: center;
    }

    .main {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }

    main {
        width: 60%;
        margin-left: 7px;
        margin-right: 7px;
    }

    aside {
        color: #b69d4d;
        background-color: rgb(18, 27, 43);
        width: 20%;
        height: 350px;
    }

    #links {
        background-image: url(Schmetterling.gif);
        background-size: cover;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
    }

    #links2 {
        color: rgb(18, 27, 43);
        height: 350px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        background: var(--gold-gradient);
        background-size: 100% 560px;
    }

    #rechts {
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
    }

    #rechts2 {
        color: rgb(18, 27, 43);
        height: 350px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        background-image:
            url(kitty.gif),
            var(--gold-gradient);
        background-size: cover, 100% 560px;
        background-repeat: no-repeat, no-repeat;
    }

    #socials {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        /* zentriert den Inhalt horizontal */
        height: 100%;
    }

    #h3-1 {
        margin-top: 0px;
        margin-bottom: 0px;
        text-align: center;
        text-decoration: underline 1px solid #edbc6b;
        background: linear-gradient(to bottom,
                #d0a04a 0%,
                #edbc6b 50%,
                #e9cc82 100%);
        background-clip: text;
        -webkit-background-clip: text;
        /* für Safari/Chrome */
        color: transparent;
    }

    #h3-2 {
        margin-top: 16px;
        margin-bottom: 0px;
        text-align: center;
        text-decoration: underline 1px solid rgb(18, 27, 43);
    }

    footer {
        color: rgb(18, 27, 43);
        height: 200px;
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 6px;
        background: var(--gold-gradient);
        background-size: 100% 560px;
        background-position: 0 -350px;
    }

    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: 100%;
    }

    .footer2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: 100%;
        margin-top: 12px;
    }

    #footer p {
        margin-left: 20px;
    }

    #footer a {
        color: rgb(18, 27, 43);
    }

    #aboutweb {
        margin-bottom: 5px;
    }

    #bordertop {
        border-top: 1px solid rgb(196, 196, 196);
        margin: 20px;
    }

    #border {
        border-bottom: 1px solid rgb(18, 27, 43);
        ;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 10px;
    }

    #instagram {
        width: 55px;
        height: auto;
        overflow: hidden;
    }

    #discord {
        width: 73px;
        height: auto;
        overflow: hidden;
    }

    #IG {
        margin-top: 5px;
        font-size: small;
        border: 1px solid #b69d4d;
        border-radius: 3px;
        padding: 2px;
    }

    #DC {
        margin-top: 0px;
        font-size: small;
        border: 1px solid #b69d4d;
        border-radius: 3px;
        padding: 2px;
    }

    .linkbox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .linkbox2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-content: space-around;
        height: 60%;
    }

    a {
        text-decoration: none;
        color: rgb(18, 27, 43);
    }

    a:hover {
        color: #67070f;
        text-decoration: underline 1px solid #67070f;
    }

    :root {
        --gold-gradient: linear-gradient(to bottom,
                #d0a04a 0%,
                #edbc6b 50%,
                #e9cc82 100%);
    }

    #infotext {
        margin-bottom: 5px;
    }

}

#satzspiel {
    display: inline-block;
    color: transparent;
    background-color: rgb(18, 27, 43);
    user-select: none;
    /* verhindert die Textauswahl */
    margin-top: 0px;
}

#satzspiel:hover {
    color: black;
    background-color: transparent;
    pointer-events: auto;
    /* macht das Element wieder anklickbar */
    user-select: none;
    /* erlaubt die Textauswahl nicht */
}

#satzspiel:hover span {
    color: transparent;
    background-color: rgb(18, 27, 43);
    pointer-events: auto;
    /* macht das Element wieder anklickbar */
    user-select: auto;
    /* erlaubt die Textauswahl nicht */
}

#satzspiel:active span {
    color: black;
    background-color: transparent;
    pointer-events: auto;
    /* macht das Element wieder anklickbar */
    user-select: auto;
    /* erlaubt die Textauswahl */
}
